body{
    height: 100%;
}

header{
    width: 100%;
    position: sticky; /*Permite que o elemento fique em posição relativa quando não necessita do scroll, e uma posição fixa quando é acionado o scroll.*/
    top:0;
    background-color: bisque;
    
}

header div.menu {
    margin: 0 auto;
    text-align: center;
    padding: 25px;
}

header div.menu a{
    margin-right: 20px;
    text-decoration: none;
    color:black;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 25px;

}
header div.menu a:hover{
    background-color: black;
    color: white;
    
}


main.container{
    background-color: violet;
    width: 100%;    /*para a ter a largura da tela independete do tamanho*/
    /*max-width: 1280px;*/  /*Em tela maior fica um espaço em branco do lado direito*/
    text-align: center;
    
}

main h1{
    font-size: 40px;
    font-weight: bold;
    padding-top: 30px;
    
}

section{
    margin-top: 30px;
    border: 2px solid black;
    padding: 20px;
}

section h2{
    font-size: 30px;
    font-weight:500;

}

section div.img{
    margin:25px 0;
}

section p{
    text-align: left;
    text-indent: 5px;   /*da destaque para primeira linha, proporcionando um respiro no começo do parágrafo.*/
}
footer{
    text-align: center;
    padding: 25px 0; /*padding abrange só o conteúdo, assim toda cor do background fica do tamanho dele.*/
    background-color: bisque;
}
